<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
 <servlet>
  <servlet-name>DisplayChart</servlet-name>
  <servlet-class>
   org.jfree.chart.servlet.DisplayChart
  </servlet-class>
 </servlet>
  <servlet>
  
    <servlet-name>CartController</servlet-name>
    <servlet-class>webtier.CartController</servlet-class>
  </servlet>
<servlet>

  <servlet-name>UserController</servlet-name>
  <servlet-class>webtier.UserController</servlet-class>
 </servlet>
<servlet>
  <servlet-name>safecode1</servlet-name>
  <servlet-class>util.SafeCode</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>GoodsController</servlet-name>
    <servlet-class>webtier.GoodsController</servlet-class>
  </servlet>
  <servlet>

    <servlet-name>AccountController</servlet-name>
    <servlet-class>webtier.AccountController</servlet-class>
  </servlet>
  <servlet>
    <description>My First Servlet form MyEelipse</description>
    <display-name>HelloServlet</display-name>
    <servlet-name>UpLoadFile</servlet-name>
    <servlet-class>webtier.UpLoadFile</servlet-class>
  </servlet>






<servlet-mapping>
  <servlet-name>DisplayChart</servlet-name>
  <url-pattern>/DisplayChart</url-pattern>
 </servlet-mapping>

<servlet-mapping>

  <servlet-name>UserController</servlet-name>
  <url-pattern>/user.do</url-pattern>
 </servlet-mapping>
<servlet-mapping>
  <servlet-name>safecode1</servlet-name>
  <url-pattern>/safecode1</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsController</servlet-name>
    <url-pattern>/goods.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/account.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadFile</servlet-name>
    <url-pattern>/UpLoadFile.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
